{% extends '@EasyAdmin/welcome.html.twig' %}
{% block page_title 'Dashboard de Hellsaya' %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-3">
            <h4>Nombre de NDD :</h4>
            <h5>{{ count }}</h5>
            <h4>Noms des NDD :</h4>
            {% for ndd in ndds %}
                <div>
                    <p>- {{ ndd.name }}</p>
                </div>
            {% endfor %}
        </div>
        <div>
            <h4>Total des ventes</h4>
            <p>{{ sum }}</p>
        </div>
    </div>
    <div class="d-flex">
        <div class="col-sm-4">
            <canvas id="hellsayaDname" width="400" height="400"></canvas>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <canvas id="hellsayaCustomer" width="400" height="400"></canvas>
        </div>
    </div>

    <div class="col-sm-12">
    </div>
{% endblock %}
 {% block body_javascript %}
     {{ encore_entry_script_tags('app') }}
     <script>
         let hellsayaDname = document.querySelector("#hellsayaDname")
         let hellsayaDnameGraph = new Chart(hellsayaDname, {
             type: "doughnut",
             data: {
                 labels: {{ hellsayaDname|raw }},
                 datasets: [{
                     label: "Répartition des catégories",
                     data: {{ sumDname|raw }},
                     backgroundColor: {{ colorDname|raw }}
                 }]
             }
         })
         let hellsayaCustomer = document.querySelector("#hellsayaCustomer")
         let hellsayaCustomerGraph = new Chart(hellsayaCustomer, {
             type: "doughnut",
             data: {
                 labels: {{ hellsayaCustomer|raw }},
                 datasets: [{
                     label: "Répartition des catégories",
                     data: {{ sumCustomer|raw }},
                     backgroundColor: {{ colorCustomer|raw }}
                 }]
             }
         })
     </script>
 {% endblock body_javascript %}
