{% extends '@EasyAdmin/welcome.html.twig' %}
{% block page_title 'Dashboard de Rolls' %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-3 d-flex flex-column mr-1 p-0 card-panel border-success mt-3">
            <div>
                <h6>Nombre de NDD </h6>
            </div>
            <div class="d-flex justify-content-center">
                <h3>{{ count }}</h3>
            </div>
        </div>
        <div class="col-sm-3 d-flex flex-column mr-1 p-0 card-panel border-success mt-3">
            <h6>Noms des NDD </h6>
            {% for ndd in ndds %}
                <div>
                    <p>- {{ ndd.name }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-3 d-flex flex-column mr-1 p-0 card-panel border-success mt-3">
            <div>
                <h6>Total des ventes</h6>
            </div>
            <div class="d-flex justify-content-center">
                <h3>{{ sum }}</h3>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div class="col-sm-4">
            <canvas id="rollsDname" width="400" height="400"></canvas>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <canvas id="rollsCustomer" width="400" height="400"></canvas>
        </div>
    </div>

    <div class="col-sm-12">
    </div>
{% endblock %}
 {% block body_javascript %}
     {{ encore_entry_script_tags('app') }}
     <script>
         let rollsDname = document.querySelector("#rollsDname")
         let rollsDnameGraph = new Chart(rollsDname, {
             type: "doughnut",
             data: {
                 labels: {{ rollsDname|raw }},
                 datasets: [{
                     label: "Répartition des catégories",
                     data: {{ sumDname|raw }},
                     backgroundColor: {{ colorDname|raw }}
                 }]
             }
         })
         let rollsCustomer = document.querySelector("#rollsCustomer")
         let rollsCustomerGraph = new Chart(rollsCustomer, {
             type: "doughnut",
             data: {
                 labels: {{ rollsCustomer|raw }},
                 datasets: [{
                     label: "Répartition des catégories",
                     data: {{ sumCustomer|raw }},
                     backgroundColor: {{ colorCustomer|raw }}
                 }]
             }
         })
     </script>
 {% endblock body_javascript %}
